
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');




.navg a{
    font-family: 'roboto', sans-serif;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    text-align: start;
    text-transform: uppercase;

}

.navg:hover{
    color: black;
}
    


body{
    background: black;
}
#botonera{
    background: orange;
}
   #botonera img[src="./logo/logo-anaranjado.jpg"]{
       width: 200px;
       height: 180px;
       
   }
   


.btn-color{
    background-color: orange;
}
.btn-color:hover{
    color:white ;
    font-weight: 500;

}
@media (min-width: 280) and (max-width:395px){
    #botonera img[src="./logo/logo-anaranjado.jpg"]{
        width: 100px;
    
}
}

h1,h2,h3{
    color: gray;
}

.text{
    color: white;
}
p{
    font-size: 1rem;
}

/*animacion al menu*/

.link:before{
    content: "";
    width: 0;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}
.slider_left:before{
    left:0;
}
.slider_right:before{
    right:0;
}

.link:hover:before{
    width: 100%;


}
